@import url('https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&display=swap');

.playwrite-de-grund-font {
  font-family: "Playwrite DE Grund", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

body{
  background: linear-gradient(130deg, #eab308, #efbb38, #efbb38, #f3c355,  #fad487, #fcdc9f, #f1b911); 
}

.title{
  filter: drop-shadow(3px 4px 2px rgba(0, 0, 0, .5));

}  